body {
  
  background-color: rgb(30 41 59);
  color: #EAEAEA;
}

/* img {
  height: 300px;
  width: 300px;background-color: #1F1F1F;
} */

/* span {
  color: #698040;
} */

/* li {
  list-style: none;
} */

